<navscroller></navscroller>

<div class="container-fluid">
  <div class="row">

    <main class="col offset pt-3">

      <div class="row ">
        <div class="col-10">
          <h2>Adverts </h2>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success" routerLink="/admin/createEditAdvert">Create</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Header</th>
            <th>Text</th>
            <th>Type</th>
            <th>Admin</th>
            <th>Date Of Posting</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let advert of adverts">
            <td>{{advert.id}}</td>
            <td>{{advert.header.substr(0, 15)+'...'}}</td>
            <td>{{advert.text.substr(0, 15)+'...'}}</td>
            <td>{{advert.type}}</td>
            <td>{{advert.admin.id}}</td>
            <td>{{advert.dateOfPublishing}}</td>
            <td align="right">
              <button type="button" class="btn btn-warning" routerLink="/admin/createEditAdvert/{{advert.id}}">Edit</button>
              <button type="button" (click)="removeAdvert(advert)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
