<navscroller></navscroller>

<div class="container-fluid">
  <div class="row">

    <main class="col offset pt-3">

      <div class="row ">
        <div class="col-10">
          <h2>Adverts </h2>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success" routerLink="/admin/createEditAdvert">Create</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th (click)="sortedField='id'; asc = !asc;">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='header'; asc = !asc;">Header
              <span *ngIf="sortedField=='header'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th>Text</th>
            <th (click)="sortedField='type'; asc = !asc;">Type
              <span *ngIf="sortedField=='type'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='admin'; asc = !asc;">Admin
              <span *ngIf="sortedField=='admin'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='dateOfPublishing'; asc = !asc;">Date Of Posting
              <span *ngIf="sortedField=='dateOfPublishing'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let advert of adverts | advertsOrderBy:sortedField:asc">
            <td>{{advert.id}}</td>
            <td>{{advert.header.substr(0, 15)+'...'}}</td>
            <td>{{advert.text.substr(0, 15)+'...'}}</td>
            <td>{{advert.type}}</td>
            <td>{{advert.admin.id}}</td>
            <td>{{advert.dateOfPublishing}}</td>
            <td align="right">
              <button type="button" class="btn btn-warning" routerLink="/admin/createEditAdvert/{{advert.id}}">Edit</button>
              <button type="button" (click)="removeAdvert(advert)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
