<navscroller></navscroller>

<div class="container-fluid">
  <div class="col pt-1">
    <div class="row">
      <div class="col-6 offset-5 h2">
        Delivery
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order id</th>
            <th>Order Status</th>
            <th>Address</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let courierPoint of courierWay">
            <td>{{courierPoint.order.id}}</td>
            <td>{{courierPoint.order.orderStatus}}</td>
            <td *ngIf="courierPoint.address ">
              {{courierPoint.address.street}}, {{courierPoint.address.house}}, {{courierPoint.address.flat}}
            </td>
            <td>{{courierPoint.time}}</td>
            <td align="right">
              <div *ngIf="courierPoint.orderAction=='GIVE'">
                <button class="btn btn-primary  btn-sm btn-block btn-success" (click)="orderDelivered(courierPoint)" type="button">
                  Deliver
                </button>
                <button class="btn btn-primary  btn-sm btn-block btn-danger" (click)="cancelDelivering(courierPoint)" type="button">
                  Cancel
                </button>
              </div>
              <div *ngIf="courierPoint.orderAction=='TAKE'">
                <button class="btn btn-primary  btn-sm btn-block btn-success" (click)="orderReceived(courierPoint)" type="button">
                  Receive
                </button>
                <button class="btn btn-primary  btn-sm btn-block btn-danger" (click)="cancelReceiving(courierPoint)" type="button">
                  Cancel
                </button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>


</div>
