<navscroller></navscroller>
<div *ngIf="user">
  <div class="col">
    <div class="row justify-content-center mt-4 mb-4"> Profile </div>
    <form class="needs-validation" [formGroup]="profileForm" role="form" action=""
          novalidate>
      <div class="formGroup">
        <div class="row mt-2">
          <div class="col-4 mt-2 mb-3">
            <label for="firstName">First name:</label>
          </div>
          <div class="col-8 ">
            <input [(ngModel)]="user.firstName" formControlName="firstName" type="text"
                   class="form-control" id="firstName" value="{{user.firstName}}" required>
            <small class="alert alert-danger" *ngIf="!validateField('firstName')">Enter your First name</small>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-4  mb-3">
          <label for="lastName">Last Name :</label>
        </div>
        <div class="col-8">
          <input [(ngModel)]="user.lastName"  formControlName="lastName" type="text"
                 class="form-control" id="lastName" value="{{user.lastName}}" required>
          <small class="alert alert-danger" *ngIf="!validateField('lastName')">Enter the flat number</small>
        </div>
      </div>

      <div class="row ">
        <div class="col-4  mb-3">
          <label for="phoneNumber">PhoneNumber:</label>
        </div>
        <div class="col-8">
          <input [(ngModel)]="user.phoneNumber"  formControlName="phoneNumber" type="text"
                 class="form-control" id="phoneNumber" value="{{user.phoneNumber}}" required>
          <small class="alert alert-danger" *ngIf="!validateField('phoneNumber')">Enter the flat number</small>
        </div>
      </div>

      <div class="row ">
        <div class="col-4  mb-3">
          <label for="email">Email:</label>
        </div>
        <div class="col-8">
          <input [(ngModel)]="user.email"  formControlName="email" type="text"
                 class="form-control" id="email" value="{{user.email}}" required>
        </div>
      </div>
      <div *ngIf="user.address">
        <form class="mb-3" >
          <label>Address</label><br>
          <div class="row">
            <div class="col-7">
              <label for="streetOld">Street</label>
              <input  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="streetOld" value="" [(ngModel)]="user.address.street" disabled>
            </div>
            <div class="form-group col">
              <label for="houseOld">House</label>
              <input  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="houseOld" value="" [(ngModel)]="user.address.house" disabled>
            </div>
            <div class="form-group col">
              <label for="floorOld">Floor</label>
              <input  [ngModelOptions]="{standalone: true}" type="number" min="0" class="form-control" id="floorOld"  value="" [(ngModel)]="user.address.floor" disabled>
            </div>
            <div class="form-group col">
              <label for="flatOld">Flat</label>
              <input  [ngModelOptions]="{standalone: true}" type="number" min="0" class="form-control" id="flatOld" value="" [(ngModel)]="user.address.flat" disabled>
            </div>
          </div>
        </form>
      </div>
    </form>
  </div>
  <hr class="mb-4">
  <div class="row">
    <div class="col-4 offset-2">
      <button class="btn btn-primary btn-lg btn-block btn-success" type="submit" (click)="save()">
        Save Changes
      </button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary btn-lg btn-block btn-danger"  (click)="goBack()"  type="button">
        Cancel
      </button>
    </div>
  </div>

</div>
