<navscroller></navscroller>

<div class="container-fluid">
  <div class="row">

    <main class="col offset pt-3">
      <div class="row justify-content-between">
        <div class="col-10"><h2>Orders</h2></div>
      </div>
      <div class="table-responsive">
        <!--<label for="draft">DRAFT</label>-->
        <!--<input id="draft" type="checkbox" #draft-->
               <!--(change)="statuses = (draft.checked ? addStatusToFilter('DRAFT') : deleteStatusFromFilter('DRAFT'))">-->
        <!--<label for="canceled">CANCELLED</label>-->
        <!--<input id="canceled" type="checkbox" #canceled-->
               <!--(change)="statuses = (canceled.checked ? addStatusToFilter('CANCELLED') : deleteStatusFromFilter('CANCELLED'))">-->
        <!--<label for="postponed">POSTPONED</label>-->
        <!--<input id="postponed" type="checkbox" #postponed-->
               <!--(change)="statuses = (postponed.checked ? addStatusToFilter('POSTPONED') : deleteStatusFromFilter('POSTPONED'))">-->
        <!--<label for="associated">ASSOCIATED</label>-->
        <!--<input id="associated" type="checkbox" #associated-->
               <!--(change)="statuses = (associated.checked ? addStatusToFilter('ASSOCIATED') : deleteStatusFromFilter('ASSOCIATED'))">-->
        <!--<label for="open">OPEN</label>-->
        <!--<input id="open" type="checkbox" #open-->
               <!--(change)="statuses = (open.checked ? addStatusToFilter('OPEN') : deleteStatusFromFilter('OPEN'))">-->
        <!--<label for="processing">PROCESSING</label>-->
        <!--<input id="processing" type="checkbox" #processing-->
               <!--(change)="statuses = (processing.checked ? addStatusToFilter('PROCESSING') : deleteStatusFromFilter('PROCESSING'))">-->
        <!--<label for="confirmed">CONFIRMED</label>-->
        <!--<input id="confirmed" type="checkbox" #confirmed-->
               <!--(change)="statuses = (confirmed.checked ? addStatusToFilter('CONFIRMED') : deleteStatusFromFilter('CONFIRMED'))">-->
        <!--<label for="execution">EXECUTION</label>-->
        <!--<input id="execution" type="checkbox" #execution-->
               <!--(change)="statuses = (execution.checked ? addStatusToFilter('EXECUTION') : deleteStatusFromFilter('EXECUTION'))">-->
        <!--<label for="delivering">DELIVERING</label>-->
        <!--<input id="delivering" type="checkbox" #delivering-->
               <!--(change)="statuses = (delivering.checked ? addStatusToFilter('DELIVERING') : deleteStatusFromFilter('DELIVERING'))">-->
        <!--<label for="delivered">DELIVERED</label>-->
        <!--<input id="delivered" type="checkbox" #delivered-->
               <!--(change)="statuses = (delivered.checked ? addStatusToFilter('DELIVERED') : deleteStatusFromFilter('DELIVERED'))">-->
        <!--<label for="waitingForFeedback">WAITING_FOR_FEEDBACK</label>-->
        <!--<input id="waitingForFeedback" type="checkbox" #waitingForFeedback-->
               <!--(change)="statuses = (waitingForFeedback.checked ? addStatusToFilter('WAITING_FOR_FEEDBACK') : deleteStatusFromFilter('WAITING_FOR_FEEDBACK'))">-->
        <!--<label for="feedbackReviewed">FEEDBACK_REVIEWED</label>-->
        <!--<input id="feedbackReviewed" type="checkbox" #feedbackReviewed-->
               <!--(change)="statuses = (feedbackReviewed.checked ? addStatusToFilter('FEEDBACK_REVIEWED') : deleteStatusFromFilter('FEEDBACK_REVIEWED'))">-->

        <table class="table table-striped">
          <thead>
          <tr>
            <th (click)="sortedField='id'; asc = !asc;">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='orderStatus'; asc = !asc;">Order Status
              <span *ngIf="sortedField=='orderStatus'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='user'; asc = !asc;">Sender
              <span *ngIf="sortedField=='user'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let fulfillmentOrder of fulfillmentOrders">
            <td>{{fulfillmentOrder.order.id}}</td>
            <td>{{fulfillmentOrder.order.orderStatus}}</td>
            <td>{{fulfillmentOrder.order.user.firstName}} {{fulfillmentOrder.order.user.lastName}}</td>
            <td align="right">
              <button type="button" class="btn btn-success" (click)="startProcessing(fulfillmentOrder)">Process</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
