<navscroller></navscroller>
<div *ngIf="currents" class="container-fluid">
  <div class="row">
    <main class="col offset pt-3">
      <div class="page-header">
        <h3 class="text-success">My employees</h3>
      </div>
      <div class="d-flex flex-row">
        <form>
          <label for="lastName">Last Name:</label>
          <input id="lastName" type="text" #selected (change)="filter(selected.value)">
          <label for="all">All</label>
          <input id="all" type="radio" name="emp" [checked]="state == 'all'"
                 (click)=getAll()>
          <label for="now">Working now</label>
          <input id="now" type="radio" name="emp" [checked]="state == 'working_now'"
                 (click)=getWorkingNow()>
        </form>
      </div>
      <div *ngIf="currents" class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th (click)="sortedField='id'; asc = !asc;">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='firstName'; asc = !asc;">First Name
              <span *ngIf="sortedField=='firstName'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='lastName'; asc = !asc;">Last Name
              <span *ngIf="sortedField=='lastName'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='roles'; asc = !asc">Position
              <span *ngIf="sortedField=='roles'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th [hidden]="state=='all'" (click)="sortedField='ccagentProcessingOrdersToday'; asc = !asc">Processing
              <span *ngIf="sortedField=='ccagentProcessingOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th [hidden]="state=='all'" (click)="sortedField='ccagentCancelledOrConfirmedOrdersToday'; asc = !asc">
              Cancelled
              /Confirmed
              <span *ngIf="sortedField=='ccagentCancelledOrConfirmedOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th [hidden]="state=='all'" (click)="sortedField='courierDeliveringOrExecutionOrdersToday'; asc = !asc">
              Delivering
              /Execution
              <span *ngIf="sortedField=='courierDeliveringOrExecutionOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th [hidden]="state=='all'" (click)="sortedField='courierDeliveredOrProblemOrdersToday'; asc = !asc">
              Delivered
              /Problem
              <span *ngIf="sortedField=='courierDeliveredOrProblemOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th [hidden]="state=='working_now'" (click)="sortedField='countWorkingDays'; asc = !asc">Worked out(Month)
              <span *ngIf="sortedField=='countWorkingDays'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
          </tr>
          <tbody>
          <tr *ngFor="let employee of currents | empManagerOrderBy:sortedField:asc
                      | paginate: {itemsPerPage: perPage, currentPage : page} "
              routerLink="/manager/viewEmployee/{{employee.id}}">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.roles.toString()}}</td>
            <td [hidden]="state=='all'">{{employee.roles.toString().includes('CALL_CENTER_AGENT')
              ? employee.ccagentProcessingOrdersToday:""}}
            </td>
            <td [hidden]="state=='all'">{{employee.roles.toString().includes('CALL_CENTER_AGENT') ?
              employee.ccagentCancelledOrConfirmedOrdersToday:""}}
            </td>
            <td [hidden]="state=='all'">{{employee.roles.toString().includes('COURIER') ?
              employee.courierDeliveringOrExecutionOrdersToday:""}}
            </td>
            <td [hidden]="state=='all'">{{employee.roles.toString().includes('COURIER')
              ? employee.courierDeliveredOrProblemOrdersToday:""}}
            </td>
            <td [hidden]="state=='working_now'">{{employee.countWorkingDays}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </main>
  </div>
</div>
