<navscroller></navscroller>
<div class="container-fluid">
  <div class="row">
    <main class="col offset pt-3">
      <div class="page-header">
        <h1>My employees</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th (click)="sortedField='id'; asc = !asc;">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='firstName'; asc = !asc;">First Name
              <span *ngIf="sortedField=='firstName'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='lastName'; asc = !asc;">Last Name
              <span *ngIf="sortedField=='lastName'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='roles'; asc = !asc">Position
              <span *ngIf="sortedField=='roles'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='ccagentProcessingOrdersToday'; asc = !asc">Processing
              <span *ngIf="sortedField=='ccagentProcessingOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='ccagentCancelledOrConfirmedOrdersToday'; asc = !asc">Cancelled
              /Confirmed
              <span *ngIf="sortedField=='ccagentCancelledOrConfirmedOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='courierDeliveringOrExecutionOrdersToday'; asc = !asc">Delivering
              /Execution
              <span *ngIf="sortedField=='courierDeliveringOrExecutionOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='courierDeliveredOrProblemOrdersToday'; asc = !asc">Delivered
              /Problem
              <span *ngIf="sortedField=='courierDeliveredOrProblemOrdersToday'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='countWorkingDays'; asc = !asc">Worked out(Month)
              <span *ngIf="sortedField=='countWorkingDays'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
          </tr>
          <tbody>
          <tr *ngFor="let employee of employees | empManagerOrderBy:sortedField:asc
                      | paginate: {itemsPerPage: perPage, currentPage : page}">
            <td><a routerLink="/manager/viewEmployee/{{employee.id}}">{{employee.id}}</a></td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.roles}}</td>
            <td>{{employee.roles.toString().includes('CALL_CENTER_AGENT') ? employee.ccagentProcessingOrdersToday:""}}
            </td>
            <td>{{employee.roles.toString().includes('CALL_CENTER_AGENT') ?
              employee.ccagentCancelledOrConfirmedOrdersToday:""}}
            </td>
            <td>{{employee.roles.toString().includes('COURIER') ?
              employee.courierDeliveringOrExecutionOrdersToday:""}}
            </td>
            <td>{{employee.roles.toString().includes('COURIER') ? employee.courierDeliveredOrProblemOrdersToday:""}}
            </td>
            <td>{{employee.countWorkingDays}}</td>
            <td>
              <button type="button" class="btn btn-primary"
                      routerLink="/manager/statistic/year/{{employee.id}}">Last Statistics
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </main>
  </div>
</div>
