<navscroller></navscroller>
<div class="container" *ngIf="employee" id="main">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Employees</h4>
      <form [formGroup]="cudEmployeeForm" (ngSubmit)="save(cudEmployeeForm.value)" class="needs-validation" novalidate id="cudEmployeeForm">
        <div class="row">
          <div class="col-12 mb-3">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email"
                   value="{{employee.email}}" [(ngModel)]="employee.email" required>
            <small class="alert alert-danger" *ngIf="!validateField('email')">Enter email</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>First Name</label>
            <input formControlName="firstName" type="text" class="form-control" id="first_name"
                   value="{{employee.firstName}}" [(ngModel)]="employee.firstName" required>
            <small class="alert alert-danger" *ngIf="!validateField('firstName')">Enter first name</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="last_name"
                   value="{{employee.lastName}}" [(ngModel)]="employee.lastName" required>
            <small class="alert alert-danger" *ngIf="!validateField('lastName')">Enter last name</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Manager</label>
            <select formControlName="manager" [(ngModel)]="currentManager" [compareWith]='compareManager' class="form-control">
              <option *ngFor="let mgr of managers" [ngValue]="mgr" >
                {{mgr.firstName}} {{mgr.lastName}}
              </option>
            </select>
          </div>
        </div>


        <div class="row">
          <div class="col-12 mb-3">
            <label>Roles</label>
            <div *ngFor="let role of Roles">
              <label>
                <input type="checkbox"
                       name="roles"
                       value="role"
                       [checked]="role.checked"
                       (change)="role.checked = !role.checked"
                       (click)="check(role)"
                       [disabled]="isEditHimself(role) || isClient(role)"
                />
                <!--(click)="check(role)"-->
                {{role.name}}
              </label>
            </div>
          </div>
        </div>
        <!--<p>cudEmployeeForm value: {{ cudEmployeeForm.value | json}}</p>-->
        <!--<p>roles: {{ checkedRoles | json}}</p>-->


        <div class="row">
          <div class="col-12 mb-3">
            <label for="phoneNumber">Phone Number</label>
            <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber"
                   value="{{employee.phoneNumber}}" [(ngModel)]="employee.phoneNumber" required>
            <small class="alert alert-danger" *ngIf="!validateField('phoneNumber')">Enter phone number</small>
          </div>
        </div>

        <form [formGroup]="addressEmployeeRegisterByAdmin" class="mb-3">
          <label>Address</label><br>
          <div class="row">
            <div class="col-7">
              <label for="street">Street</label>
              <input formControlName="street" type="text" class="form-control" id="street"
                     required
                     placeholder="Search for location" [(ngModel)]="employee.address.street" value="{{employee.address.street}}"
                     #searchAddress
                     [formControl]="map.searchControl"
                     (change)="map.changeStreet($event.target.value); updateStreet();">
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('street')">Enter the street name</small>
            </div>
            <div class="col">
              <label for="house">House</label>
              <input formControlName="house" type="text" class="form-control" id="house"
                     value="{{employee.address.house}}" [(ngModel)]="employee.address.house" required
                     (change)="map.changeHouse($event.target.value); updateHouse();">
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('house')">Enter the street name</small>
            </div>
            <div class="col">
              <label for="floor">Floor</label>
              <input formControlName="floor" type="number" class="form-control" id="floor"
                     value="{{employee.address.floor}}" [(ngModel)]="employee.address.floor">
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('floor')">Enter the street name</small>
            </div>
            <div class="col">
              <label for="flat">Flat</label>
              <input formControlName="flat" type="number" class="form-control" id="flat"
                     value="{{employee.address.flat}}" [(ngModel)]="employee.address.flat">
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('flat')">Enter the street name</small>
            </div>
          </div>
        </form>
        <div>
          <agm-map [latitude]="map.latitude" [longitude]="map.longitude" [scrollwheel]="true" [zoom]="map.zoom"
                   (mapClick)="map.placeMarker($event); updateStreetHouse();"
                   (mapReady)="mapReady($event,'your_location')">
            <agm-marker [latitude]="map.latitude" [longitude]="map.longitude" [markerDraggable]="true"
                        (dragEnd)="map.placeMarker($event); updateStreetHouse();"></agm-marker>
          </agm-map>
          <div id="your_location" (click)="map.setCurrentPosition(); updateStreetHouse();">
            <div class="your_location_btn">
              <div class="your_location_img"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-lg btn-block btn-success" form="cudEmployeeForm"
                type="submit" [disabled]="!cudEmployeeForm.valid">
          Save
        </button>
      </div>

      <div class="col">
        <button class="btn btn-primary btn-lg btn-block btn-danger" routerLink="/admin/adminEmp" type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</footer>
