target/
!.mvn/wrapper/maven-wrapper.jar
frontend/node
frontend/node_modules
backend/src/main/resources/static
backend/src/main/resources/application-ivan.properties
backend/src/main/resources/hikari-dev.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

###Local Properties ###
hikari-dev.properties