<navscroller></navscroller>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">Employee</h4>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="firstName">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                        <div class="invalid-feedback">
                            Valid Email is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12 mb-3">
                            <label for="firstName">Password</label>
                            <input type="text" class="form-control" id="password" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                            <div class="invalid-feedback">
                                Valid Password is required.
                            </div>
                        </div>
                    </div>
                       


                    <div class="row">
                            <div class="col-12 mb-3">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="first_name" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                            <div class="invalid-feedback">
                                Valid First Name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-12 mb-3">
                                <label for="firstName">Last Name</label>
                                <input type="text" class="form-control" id="last_name" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                            <div class="invalid-feedback">
                                Valid Last Name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-12 mb-3">
                                <label for="firstName">Manager</label>
                                <input type="text" class="form-control" id="manager" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                            <div class="invalid-feedback">
                                Valid Manager is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-12 mb-3">
                                <label for="firstName">Positions</label><br>
                                <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Role1*
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Role2*
                                        </label>
                                      </div>


                                    
                                <div class="invalid-feedback">
                                Valid Positions is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-12 mb-3">
                                <label for="firstName">Phone Number</label>
                                <input type="text" class="form-control" id="phone_number" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                            <div class="invalid-feedback">
                                Valid Phone Number is required.
                            </div>
                        </div>
                    </div>




                    <div class="row">
                            <div class="col-12 mb-3">
                                <label for="firstName">Registration Date</label>
                                <input type="text" class="form-control" id="Name" placeholder="Should Be Filled If You've Choosen Edit Option " value="" required>
                            <div class="invalid-feedback">
                                Valid Name is required.
                            </div>
                        </div>
                    </div>
                        
                <div class="mb-3">
                    <label for="address">Address</label><br>
                    <div class = "row">
                        <div class="col-7">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" id="street" placeholder="Street*" required>
                        </div>
                        <div class="col">
                            <label for="street">House</label>
                            <input type="text" class="form-control" id="house" placeholder="House*" required>
                        </div>
                        <div class="col">
                            <label for="street">Floor</label>
                            <input type="text" class="form-control" id="floor" placeholder="Floor*" required>
                        </div>
                        <div class="col">
                            <label for="street">Flat</label>
                            <input type="text" class="form-control" id="flat" placeholder="Flat*" required>
                        </div>
                    </div> 
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <hr class="mb-4">
                <div class="row pb-4">
                    <div class="col-4">
                        <button class="btn btn-primary btn-lg btn-block btn-success" style="height:45px" type="submit">Confirm</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-lg btn-block btn-warning" style="height:45px" type="reset">Reset</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-lg btn-block btn-danger" style="height:45px" type="button">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
