<navscroller></navscroller>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Employees</h4>
      <form [formGroup]="cudEmployeeForm" (ngSubmit)="createEmployee(cudEmployeeForm.value)" class="needs-validation"
            novalidate>
        <div class="row">
          <div class="col-12 mb-3">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email"
                   value="" required>
            <small class="alert alert-danger" *ngIf="!validateField('email')">Enter email</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password"
                    value="" required>
            <small class="alert alert-danger" *ngIf="!validateField('password')">Enter password</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>First Name</label>
            <input formControlName="firstName" type="text" class="form-control" id="first_name"
                   value="" required>
            <small class="alert alert-danger" *ngIf="!validateField('firstName')">Enter first name</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="last_name"
                   value="" required>
            <small class="alert alert-danger" *ngIf="!validateField('lastName')">Enter last name</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label for="manager">Manager</label>
            <input formControlName="manager" type="text" class="form-control" id="manager"
                  value="" required>
            <small class="alert alert-danger" *ngIf="!validateField('manager')">Choose Manager</small>
          </div>
        </div>


        <div class="row">
          <div class="col-12 mb-3">
            <label>Roles</label>
            <div *ngFor="let role of ROLES">
              <label>
                <input type="checkbox"
                       name="roles"
                       value="role"
                       (click)="check(role)"/>
                {{role.name}}
              </label>
            </div>
          </div>
        </div>
        <!--<p>cudEmployeeForm value: {{ cudEmployeeForm.value | json}}</p>-->
        <!--<p>roles: {{ checkedRoles | json}}</p>-->


        <div class="row">
          <div class="col-12 mb-3">
            <label>Phone Number</label>
            <input formControlName="phoneNumber" type="text" class="form-control" id="phone_number"
                   value="" required>
            <small class="alert alert-danger" *ngIf="!validateField('phoneNumber')">Enter phone number</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <label>Registration Date</label>
            <input formControlName="registrationDate" type="text" class="form-control" id="Name"
                    value="" disabled>
            <small class="alert alert-danger" *ngIf="!validateField('registrationDate')">Enter registration Date
            </small>
          </div>
        </div>
        <form [formGroup]="addressOfficeRegisterByAdmin" class="mb-3">
          <label>Address</label><br>
          <div class="row">
            <div class="col-7">
              <label for="street">Street</label>
              <input formControlName="street" type="text" class="form-control" id="street"
                     ngModel="{{googleMaps.street}}" required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('street')">Enter the street name</small>
            </div>
            <div class="col">
              <label for="house">House</label>
              <input formControlName="house" type="text" class="form-control" id="house"
                     ngModel="{{googleMaps.house}}" required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('house')">Enter the street name</small>
            </div>
            <div class="col">
              <label for="floor">Floor</label>
              <input formControlName="floor" type="number" class="form-control" id="floor"
                     required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('floor')">Enter the street name</small>
            </div>
            <div class="col">
              <label for="flat">Flat</label>
              <input formControlName="flat" type="text" class="form-control" id="flat"  required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('flat')">Enter the street name</small>
            </div>
          </div>
        </form>
        <div id="map">
          <input id="inputSearch" placeholder="Search for location" [value]="googleMaps.inputAddress" type="text"
                 class="form-control" #search
                 [formControl]="searchControl" (input)="fillStreetAndHouse($event.target.value)">
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"
                   (mapClick)="placeMarker($event)" (mapReady)="mapReady($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="placeMarker($event)"></agm-marker>
          </agm-map>
          <div id="your_location" (click)="setCurrentPosition()">
            <div id="your_location_btn">
              <div id="your_location_img"></div>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="row pb-4">
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block btn-success" style="height:45px" type="submit" [disabled]="!cudEmployeeForm.valid">Confirm
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block btn-warning" style="height:45px" type="reset">Reset</button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block btn-danger" style="height:45px" type="button">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
