<navscroller></navscroller>
<div class="container" id="main">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Create/Edit Advert</h4>
      <form class="needs-validation" [formGroup]="createAdvertForm" (ngSubmit)="save()" id="createAdvertForm"
            role="form" action="" method="post" novalidate>
        <div class="formGroup">
          <div class="row">
            <div class="col-12 mb-3">
              <label for="header">Header</label>
              <input [(ngModel)]="advert.header" formControlName="header" type="text" class="form-control" id="header"
                     value="" required>
              <small class="alert alert-danger" *ngIf="!validateField('header')">Enter the header</small>
            </div>
          </div>
        </div>
        <div class="formGroup">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Type</label>
              </div>
              <select [(ngModel)]="advert.type" formControlName="type"
                      class="custom-select" placeholder="Choose Type..." required>
                <option *ngFor="let type of types" [value]="type.name">{{type.name}}</option>
              </select>
              <div class="alert alert-danger" *ngIf="!validateField('type')">Choose Type Of Advert</div>
            </div>
          </div>
        </div>
        <div class="formGroup">
          <div class="mb-3">
            <label for="description">Description</label>
            <textarea [(ngModel)]="advert.text" formControlName="text" class="form-control" rows="10" id="description"
                      value="" required></textarea>
          </div>
        </div>


      </form>

    </div>

  </div>

</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-sm btn-block btn-success"  form ="createAdvertForm" type="submit">
          Confirm
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-sm btn-block btn-danger" routerLink="/admin/adminAdvert" type="button">
          Cancel
        </button>
      </div>
    </div>
  </div>
</footer>

