<navscroller></navscroller>
<div class="container" id="main">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center mt-2 mb-2">
        <h5>Order #{{fulfillmentOrder.id}}</h5>
      </div>
      <label>
        Sender Info
      </label>
      <div class="row">
        <div class="col-12 mb-3">
          <label for="userName">Name</label>
          <input id="userName" class="form-control" type="text"
                 value="{{fulfillmentOrder.order.user.firstName}} {{fulfillmentOrder.order.user.lastName}}"
                 disabled>
        </div>
        <div class="col-12 mb-3">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text" value="{{fulfillmentOrder.order.user.email}}" disabled>
        </div>
        <div class="col-12 mb-3">
          <label for="phoneNumber">Phone number</label>
          <input id="phoneNumber" class="form-control" type="text" value="{{fulfillmentOrder.order.user.phoneNumber}}"
                 disabled>
        </div>
        <!-- <div class="col-12 mb-3">
          <label for="creationTime">Order creation time</label>
          <input id="creationTime" class="form-control" type="text" placeholder="creationTime" value="{{fulfillmentOrder.order.creationTime | date : 'medium'}}"
            disabled>
        </div> -->
      </div>

      <form [formGroup]="orderForm" id="orderForm">

        <div>
          <label for="office">
            Office
          </label>
          <select id="office" [formControl]="orderForm.get('office')" [(ngModel)]="fulfillmentOrder.order.office"
                  class="form-control">
            <option [ngValue]="null"></option>
            <option *ngFor="let office of offices" [ngValue]="office" [selected]="office.id == officeId">
              {{office.name}}
            </option>
          </select>
          <small class="alert alert-danger" *ngIf="orderForm.get('office').hasError('required')">
            Choose office
          </small>
        </div>
        <form [formGroup]="receiverAddress" class="mb-3">
          <label>
            Receiver Address
          </label>
          <br>
          <div class="row">
            <div class="col-7">
              <label for="receiverStreet">Street</label>
              <input formControlName="street" id="receiverStreet" type="text" class="form-control"
                     value="{{fulfillmentOrder.order.receiverAddress.street}}"
                     [(ngModel)]="fulfillmentOrder.order.receiverAddress.street" required
                     #searchReceiverAddress
                     [formControl]="mapReceiver.searchControl"
                     (change)="mapReceiver.changeStreet($event.target.value); updateStreetReceiver();">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('street')">Enter the street name
              </small>
            </div>
            <div class="col">
              <label for="receiverHouse">House</label>
              <input formControlName="house" type="text" class="form-control" id="receiverHouse"
                     value="{{fulfillmentOrder.order.receiverAddress.house}}"
                     [(ngModel)]="fulfillmentOrder.order.receiverAddress.house" required
                     (change)="mapReceiver.changeHouse($event.target.value); updateHouseReceiver();">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('house')">Enter the house number
              </small>
            </div>
            <div class="col">
              <label for="receiverFloor">Floor</label>
              <input formControlName="floor" type="number" class="form-control" id="receiverFloor"
                     value="{{fulfillmentOrder.order.receiverAddress.floor}}"
                     [(ngModel)]="fulfillmentOrder.order.receiverAddress.floor">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('floor')">Enter the floor number
              </small>
            </div>
            <div class="col">
              <label for="receiverFlat">Flat</label>
              <input formControlName="flat" type="number" class="form-control" id="receiverFlat"
                     value="{{fulfillmentOrder.order.receiverAddress.flat}}"
                     [(ngModel)]="fulfillmentOrder.order.receiverAddress.flat">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('flat')">Enter the flat number
              </small>
            </div>
          </div>
          <div>
            <agm-map [latitude]="mapReceiver.latitude" [longitude]="mapReceiver.longitude" [scrollwheel]="true"
                     [zoom]="mapReceiver.zoom"
                     (mapClick)="mapReceiver.placeMarker($event); updateStreetHouseReceiver();"
                     (mapReady)="mapReceiverReady($event,'yourLocationFrom')">
              <agm-marker [latitude]="mapReceiver.latitude" [longitude]="mapReceiver.longitude" [markerDraggable]="true"
                          (dragEnd)="mapReceiver.placeMarker($event); updateStreetHouseReceiver();"></agm-marker>
            </agm-map>
            <div id="yourLocationFrom" (click)="mapReceiver.setCurrentPosition(); updateStreetHouseReceiver();">
              <div class="your_location_btn">
                <div class="your_location_img"></div>
              </div>
            </div>
          </div>
        </form>

        <label for="clientAvailability">Enter the time when receiver can receive the order:</label>
        <div class="row" id="clientAvailability">
          <div class="col ">
            <label for="receiverAvailabilityDate">Date : </label>

            <input class="dateTimeInput" formControlName="receiverAvailabilityDate" id="receiverAvailabilityDate"
                   type="date"
                   value="{{fulfillmentOrder.order.receiverAvailabilityDate}}"
                   [(ngModel)]="fulfillmentOrder.order.receiverAvailabilityDate">
            <small class="alert-danger alert" *ngIf="orderForm.hasError('pastDate')">
              {{orderForm.getError('pastDate')}}
            </small>
          </div>
          <div class="col">
            <label for="receiverAvailabilityFrom">Time From : </label>
            <input class="dateTimeInput" formControlName="receiverAvailabilityFrom" id="receiverAvailabilityFrom"
                   type="time"
                   value="{{fulfillmentOrder.order.receiverAvailabilityFrom}}"
                   [(ngModel)]="fulfillmentOrder.order.receiverAvailabilityFrom">
            <small class="alert-danger alert" *ngIf="orderForm.hasError('wrongTimeFrom')">
              {{orderForm.getError('wrongTimeFrom')}}
            </small>
          </div>
          <div class="col"><label for="receiverAvailabilityTo">Time To : </label>
            <input class="dateTimeInput" formControlName="receiverAvailabilityTo" id="receiverAvailabilityTo"
                   type="time"
                   value="{{fulfillmentOrder.order.receiverAvailabilityTo}}"
                   [(ngModel)]="fulfillmentOrder.order.receiverAvailabilityTo">
            <small class="alert-danger alert" *ngIf="orderForm.hasError('wrongRange')">
              {{orderForm.getError('wrongRange')}}
            </small>

          </div>
        </div>


        <!--value="{{fulfillmentOrder.order.office}}"-->
        <!--selected-->
        <!--<div>-->
        <!--<label>-->
        <!--Courier-->
        <!--</label>-->
        <!--<select formControlName="courier" [(ngModel)]="fulfillmentOrder.courier" class="form-control">-->
        <!--<option *ngFor="let courier of couriers" [ngValue]="courier">-->
        <!--#{{courier.id}} {{courier.firstName}} {{courier.lastName}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->

        <div class="mb-3">
          <label for="description">
            Order description
          </label>
          <textarea formControlName="description" class="form-control" name="description" rows="3" id="description"
                    placeholder="Any Additional information"
                    value="{{fulfillmentOrder.order.description}}"
                    [(ngModel)]="fulfillmentOrder.order.description"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="btn-group btn-group-justified col-6">

        <div class="col-6">
          <button class="btn btn-primary btn-sm btn-block btn-success" [disabled]="orderForm.invalid"
                  (click)="confirmOrder(orderForm.value)" form="orderForm" type="submit">
            Confirm
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-sm btn-block btn-success" [disabled]="orderForm.invalid"
                  (click)="save(orderForm.value)" form="orderForm" type="submit">
            Save
          </button>
        </div>
      </div>

      <div class="btn-group btn-group-justified col-6">
        <div class="col-6">
          <button class="btn btn-primary btn-sm btn-block btn-danger" (click)="cancelAttempt()" type="button">Cancel Attempt
          </button>
        </div>

        <div class="col-6">
          <button class="btn btn-primary btn-sm btn-block btn-danger" (click)="cancelOrder()" type="button">Cancel
          </button>
        </div>

      </div>

    </div>
  </div>
</footer>
