<navscroller></navscroller>
<div class="container-fluid">
  <div class="row">
    <main class="col offset pt-3">
      <div class="page-header">
        <h1>Statistics</h1>
      </div>
      <div class="container-fluid row">
        <a routerLink="orderStatistic" >Order statistics</a>
        <select #selectElem class="selectpicker offset-4" data-width="50%" (change)="change(selectElem.value)">
          <option>CCAgent</option>
          <option>Courier</option>
          <option>Client</option>
          <option>Office</option>
        </select>
        <input #one [ngModel]="start" type="date" min="2018-02-07" max="{{today}}" (change)="changeStart(one.value)">
        <input #two type="date" [ngModel]="end" min="2018-02-07" max="{{today}}" (change)="changeEnd(two.value)">
        <div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-download-alt"></i></span>
            <button style="width: 100%" class="btn btn-danger" (click)="generateManagerReports()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Report in PDF
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!one.value || !two.value" class="alert alert-danger">
        <strong>Info!</strong> Invalid value.
      </div>
      <div *ngIf="isNull" class="alert alert-info">
        <strong>Info!</strong> We don't have orders in this period.
      </div>
      <div class="row">
        <h5 id="head1" class="text-success" *ngIf="generalStatisticByCompany">General {{selectElem.value}}</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered" *ngIf="generalStatisticByCompany">
          <thead>
          <th>Scope</th>
          <th>Max</th>
          <th>Min</th>
          <th>Count</th>
          <th>Avg</th>
          </thead>
          <tbody>
          <tr>
            <td>Company</td>
            <td>{{generalStatisticByCompany.max}}</td>
            <td>{{generalStatisticByCompany.min}}</td>
            <td>{{generalStatisticByCompany.count}}</td>
            <td>{{generalStatisticByCompany.avg}}</td>
          </tr>
          <tr *ngIf="generalStatisticByManager" [hidden]="selectElem.value!='CCAgent' && selectElem.value!='Courier'">
            <td>Manager</td>
            <td>{{generalStatisticByManager.max}}</td>
            <td>{{generalStatisticByManager.min}}</td>
            <td>{{generalStatisticByManager.count}}</td>
            <td>{{generalStatisticByManager.avg}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h5 class="text-success" *ngIf="userStatistics">By item
          {{selectElem.value}}</h5>
      </div>
      <div *ngIf="selectElem.value=='Client'" [hidden]="selectElem.value!='Client'" class="table-responsive">
        <table class="table-striped">
          <thead>
          <th>Check clients where coefficient activity</th>
          <th><select [(ngModel)]="sign" class="selectpicker" data-width="50%" (change)="check()">
            <option>>=</option>
            <option>></option>
            <option>=</option>
            <option><</option>
            <option>=<</option>
          </select>
          </th>
          <th><input [(ngModel)]="coeff" type="number" step="any" min="0" (click)="check()" (input)="check()"></th>
          <th>Selected: {{getCountSelected()}}</th>
          <th>
            <button [hidden]="selectElem.value!='Client'" class="btn btn-primary" (click)="changeStatusToVIP()">
              Change to VIP
          </button>
          </th>
          <th>
            <button [hidden]="selectElem.value!='Client'" class="btn btn-info" (click)="changeStatusToClient()">
              Change to Client
            </button>
          </th>
          </thead>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered" *ngIf="userStatistics">
          <thead>
          <th [hidden]="selectElem.value!='Client'" (click)="sortedField='checked'; asc = !asc;">
            <span *ngIf="sortedField=='checked'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            <input (change)="changeCheckedAll()" type="checkbox" [(ngModel)]="uncheck"
                   [name]="uncheck">
          </th>
          <th (click)="sortedField='id'; asc = !asc;">Id
            <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th [hidden]="selectElem.value!='Client' && selectElem.value!='CCAgent' && selectElem.value!='Courier'"
              (click)="sortedField='firstName'; asc = !asc;">First Name
            <span *ngIf="sortedField=='firstName'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th [hidden]="selectElem.value!='Client' && selectElem.value!='CCAgent' && selectElem.value!='Courier'"
              (click)="sortedField='lastName'; asc = !asc;">Last Name
            <span *ngIf="sortedField=='lastName'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th [hidden]="selectElem.value!='Client'"
              (click)="sortedField='status'; asc = !asc;">Status
            <span *ngIf="sortedField=='status'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th [hidden]="selectElem.value!='Office'"
              (click)="sortedField='name'; asc = !asc;">Status
            <span *ngIf="sortedField=='name'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th (click)="sortedField='count'; asc = !asc;">Count
            <span *ngIf="sortedField=='count'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th (click)="sortedField='percentageByCompany'; asc = !asc;">Percentage By Company
            <span *ngIf="sortedField=='percentageByCompany'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th [hidden]="selectElem.value!='CCAgent' && selectElem.value!='Courier'"
              (click)="sortedField='percentageByManager'; asc = !asc;">Percentage By Manager
            <span *ngIf="sortedField=='percentageByManager'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th (click)="sortedField='differenceBetweenAvgCompany'; asc = !asc;">Coefficient activity
            <span *ngIf="sortedField=='differenceBetweenAvgCompany'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          <th [hidden]="selectElem.value!='CCAgent' && selectElem.value!='Courier'"
              (click)="sortedField='differenceBetweenAvgManagerEmp'; asc = !asc;">Difference By Manager
            <span *ngIf="sortedField=='differenceBetweenAvgManagerEmp'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
          </th>
          </thead>
          <tbody *ngIf="userStatistics">
          <tr *ngFor="let ccagent of userStatistics | statisticOrderBy:sortedField:asc
                           | paginate: {itemsPerPage: perPage, currentPage : page}">
            <td [hidden]="selectElem.value!='Client'"><input type="checkbox" [(ngModel)]="ccagent.checked"
                                                             [name]="ccagent.checked"></td>
            <td [hidden]="selectElem.value!='CCAgent' && selectElem.value!='Courier'"
                routerLink="/manager/viewEmployee/{{ccagent.id}}">{{ccagent.id}}
            </td>
            <td [hidden]="selectElem.value!='Client' && selectElem.value!='Office'">{{ccagent.id}}</td>
            <td [hidden]="selectElem.value!='Client' && selectElem.value!='CCAgent' && selectElem.value!='Courier'">
              {{ccagent.firstName}}
            </td>
            <td [hidden]="selectElem.value!='Client' && selectElem.value!='CCAgent' && selectElem.value!='Courier'">
              {{ccagent.lastName}}
            </td>
            <td [hidden]="selectElem.value!='Client'">{{ccagent.status}}</td>
            <td [hidden]="selectElem.value!='Office'">{{ccagent.name}}</td>
            <td>{{ccagent.count}}</td>
            <td>{{ccagent.percentageByCompany}}</td>
            <td [hidden]="selectElem.value!='CCAgent' && selectElem.value!='Courier'">{{ccagent.percentageByManager}}
            </td>
            <td>{{ccagent.differenceBetweenAvgCompany}}</td>
            <td [hidden]="selectElem.value!='CCAgent' && selectElem.value!='Courier'">
              {{ccagent.differenceBetweenAvgManagerEmp}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event" *ngIf="userStatistics"></pagination-controls>
    </main>
  </div>
</div>


