<navscroller></navscroller>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Office</h4>
      <form class="needs-validation" [formGroup]="cudOfficeForm" (ngSubmit)="createOffice(cudOfficeForm.value)"
            role="form" action="" method="post" novalidate>
        <div class="formGroup">
          <div class="row">
            <div class="col-12 mb-3">
              <label for="name">Name</label>
              <input formControlName="name" type="text" class="form-control" id="name"
                     placeholder="Should Be Filled If You've Choosen Edit/Remove Option " value="" required>
              <div class="invalid-feedback">
                Valid Name is required.
              </div>
              <small class="alert alert-danger" *ngIf="!validateField('name')">Enter the name of office</small>
            </div>
          </div>
        </div>
        <form [formGroup]="addressOfficeRegisterByAdmin" class="mb-3">
          <label>Address</label><br>
          <div class="row">
            <div class="col-7">
              <label for="street">Street</label>
              <input formControlName="street" type="text" class="form-control" id="street" placeholder="Street*"
                     required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('street')">Enter the street name</small>
            </div>
            <div class="form-group col">
              <label for="street">House</label>
              <input formControlName="house" type="text" class="form-control" id="house" placeholder="House*" required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('house')">Enter the house number/section
              </small>
            </div>
            <div class="form-group col">
              <label for="street">Floor</label>
              <input formControlName="floor" type="number" min="0" class="form-control" id="floor" placeholder="Floor*"
                     required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('floor')">Enter the floor number</small>
            </div>
            <div class="form-group col">
              <label for="street">Flat</label>
              <input formControlName="flat" type="number" min="0" class="form-control" id="flat" placeholder="Flat*"
                     required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('flat')">Enter the flat number</small>
            </div>
          </div>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </form>
        <div class="mb-3">
          <label for="description">Description <span class="text-muted"> (Optional)</span></label>
          <textarea formControlName="description" class="form-control" class="form-control" rows="3" id="description"
                    placeholder="Any Additional information"></textarea>
        </div>
        <hr class="mb-4">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block btn-success" style="height:45px" type="submit" [disabled]="!cudOfficeForm.valid">Confirm
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block btn-warning" style="height:45px" type="reset">Reset</button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block btn-danger" style="height:45px" type="button">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
