/* a{
    color:inherit;
    text-decoration:none;
    pointer-events:none;
} */
th+th{
  border-left: 1px solid lightgrey;
}

pagination-controls {
  text-align: center;
}
.btn{
  width: 90px;
}

#yes {
  color:green;
}

#no {
  color:red;
}
