<navscroller></navscroller>

<div class="container-fluid">
  <div class="row">

    <main class="col offset pt-3">
      <div class="row justify-content-between">
        <div class="col-10"><h2>Offices </h2></div>
        <div align="right" class="col-2  justify-content-right">
          <button type="button" class="btn btn-success" routerLink="/admin/cudOffice">Create</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th (click)="sortedField='id'; asc = !asc; getOfficesSortedById(asc);">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='name'; asc = !asc; getOfficesSortedByName(asc);">Name
              <span *ngIf="sortedField=='name'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='address'; asc = !asc; getOfficesSortedByAddress(asc);">Address
              <span *ngIf="sortedField=='address'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th>Description</th>
            <th></th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let office of offices 
                      | paginate: {itemsPerPage: perPage, currentPage : page}">
            <td>{{office.id}}</td>
            <td>{{office.name}}</td>
            <td>{{office.address.street}} {{office.address.house}}, floor: {{office.address.floor}}, flat:
              {{office.address.flat}}
            </td>
            <td>{{office.description}}</td>
            <td align="right">
              <button type="button" class="btn btn-warning" routerLink="/admin/editOffice/{{office.id}}">Edit</button>
              <button type="button" (click)="removeOffice(office)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </main>
  </div>
</div>
