<navbar></navbar>
<div class="nav-scroller bg-white box-shadow justify-content-end">
  <nav class="nav nav-underline">
    <div class="col-10">
      <div class="row justify-content-start">

        <div class="row ml-1"  [hidden]="!isAdmin">
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/adminOffice">Offices</a>
          </div>
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/adminAdvert">Adverts</a>
          </div>
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/admin/adminEmp">Employees</a>
          </div>
        </div>

        <div class="row ml-1 " [hidden]="!isCcagent">
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/ccagent/orders">Orders</a>
          </div>
        </div>

        <div class="row ml-1 " [hidden]="!isCourier">
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/courier/orders">Delivery</a>
          </div>
        </div>

        <div class="row ml-1 " [hidden]="!isManager">
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/manager/employees">My Employees</a>
          </div>
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/manager/statistic">Statistics</a>
          </div>
        </div>

        <div class="row ml-1 " [hidden]="!isClient">
          <div routerLinkActive="active-link">
            <a class="nav-link" routerLink="/orderHistory/{{currentUserID}}">My Orders</a>
          </div>
          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/createOrder">Create Order</a>
          </div>
        </div>

      </div>
    </div>


  </nav>

</div>
