<navscroller></navscroller>
<div *ngIf="user">
  <div class="col">
    <div class="row justify-content-center mt-4 mb-4"> Change Password </div>
    <form class="needs-validation" [formGroup]="passwordForm"  (ngSubmit)="save()"
          role="form" action="" novalidate>
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-3  mb-3">-->
            <!--<label for="password">Current Password:</label>-->
          <!--</div>-->
          <!--<div class="col-9">-->
            <!--<input formControlName="currentPassword" type="password"  class="form-control" id="currentPassword" value="" required>-->
            <!--<small class="alert alert-danger" *ngIf="!validateField('currentPassword')">At least 8 characters</small>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
        <div class="row">
          <div class="col-3  mb-3">
            <label for="password">Password:</label>
          </div>
          <div class="col-9">
            <input formControlName="password" type="password"  class="form-control" id="password" value="" required>
            <small class="alert alert-danger" *ngIf="passwordForm.get('password').hasError('minlength')">At least 8 characters</small>
            <small class="alert alert-danger" *ngIf="passwordForm.get('password').hasError('required')">Enter your Password</small>
            <small class="alert alert-danger" *ngIf="passwordForm.get('password').hasError('maxlength')">No more then 256 characters</small>
            <!--<small class="alert alert-danger" *ngIf="!validateField('password')">At least 8 characters</small>-->
          </div>
        </div>
        <div class="row">
          <div class="col-3 mb-3">
            <label for="confirmPassword">Confirm Password:</label>
          </div>
          <div class="col-9">
            <input formControlName="confirmPassword" type="password"
                   class="form-control" id="confirmPassword" value="" required>
            <small class="alert alert-danger" *ngIf="passwordForm.get('confirmPassword').hasError('minlength')">At least 8 characters</small>
            <small class="alert alert-danger" *ngIf="passwordForm.get('confirmPassword').hasError('required')">Confirm your Password</small>
            <small class="alert alert-danger" *ngIf="passwordForm.get('confirmPassword').hasError('maxlength')">No more then 256 characters</small>
            <!--<small class="alert alert-danger" *ngIf="!validateField('confirmPassword')">At least 8 characters</small>-->
            <small class="alert-danger alert" *ngIf="passwordForm.hasError('passwordMismatch')">{{passwordForm.getError('passwordMismatch')}}</small>

          </div>
        </div>
    </form>
    <hr class="mb-4">
    <div class="row">
      <div class="col-4 offset-2">
        <button class="btn btn-primary btn-lg btn-block btn-success passwordForm" (click)="save()" [disabled]="passwordForm.invalid" type="submit" >
          Save Changes
        </button>
      </div>
      <div class="col-4">
        <button class="btn btn-primary btn-lg btn-block btn-danger"  (click)="goBack()"  type="button">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
