<navscroller></navscroller>
<div>
  <toaster-container [toasterconfig]="config"></toaster-container>
</div>
<div *ngIf="user" class="col">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col-3 offset-5">Profile</div>
    <div class="row align-items-end">
    </div>
  </div>
  <form class="needs-validation" role="form" action="" [formGroup]="profileForm" (ngSubmit)="save()"
        novalidate>
    <div class="formGroup">
      <div class="row mt-2">
        <div class="col-3 mt-2 mb-2">
          <label for="firstName">First name :</label>
        </div>
        <div class="col-9 ">
          <input [(ngModel)]="user.firstName" type="text" formControlName="firstName"
                 class="form-control" id="firstName" value="{{user.firstName}}" required>
          <small class="alert alert-danger" *ngIf="!validateField('firstName')">Enter your first name</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3  mb-3">
        <label for="lastName">Last Name :</label>
      </div>
      <div class="col-9">
        <input [(ngModel)]="user.lastName" type="text" formControlName="lastName"
               class="form-control" id="lastName" value="{{user.lastName}}" required>
        <small class="alert alert-danger" *ngIf="!validateField('lastName')">Enter your last name</small>
      </div>
    </div>
    <div class="row ">
      <div class="col-3  mb-3">
        <label for="phoneNumber">PhoneNumber:</label>
      </div>
      <div class="col-9">
        <input [(ngModel)]="user.phoneNumber" type="text" formControlName="phoneNumber"
               class="form-control" id="phoneNumber" value="{{user.phoneNumber}}" required>
        <small class="alert alert-danger" *ngIf="!validateField('phoneNumber')">Enter your phone number</small>
      </div>
    </div>
    <div class="row ">
      <div class="col-3  mb-3">
        <label for="email">Email:</label>
      </div>
      <div class="col-9">
        <input [(ngModel)]="user.email" type="text" formControlName="email"
               class="form-control" id="email" value="{{user.email}}" required>
        <small class="alert alert-danger" *ngIf="!validateField('email')">Enter your email</small>
      </div>
    </div>
    <div class="row ">
      <div class="col-3  mb-3">
        <label for="registrationDate">Registration Date:</label>
      </div>
      <div class="col-9">
        <input [(ngModel)]="user.registrationDate" formControlName="registrationDate" class="form-control"
               type="text" id="registrationDate" value="{{user.registrationDate}}">
      </div>
    </div>

    <div class="row ">
      <div class="col-3  mb-3">
        <label for="registrationDate">Password</label>
      </div>
      <div class="col-9">
        <button class="btn btn-primary btn-sm btn-block btn-success" routerLink="/user/updPassword">
          Change Password
        </button>
      </div>
    </div>

    <form class="mb-3" [formGroup]="addressForm">
      <label>Address</label><br>
      <div class="row">
        <div class="col-12">
          <label for="street">Street</label>
          <input type="text" class="form-control" id="street" value="{{user.address.street}}" formControlName="street"
                 [(ngModel)]="user.address.street" required>
          <small class="alert alert-danger" *ngIf="!validateFieldAddress('street')">Enter your street</small>
        </div>
      </div>
      <div class="row">

        <div class="form-group col">
          <label for="house">House</label>
          <input type="text" class="form-control" id="house" value="{{user.address.house}}" formControlName="house"
                 [(ngModel)]="user.address.house" required>
          <small class="alert alert-danger" *ngIf="!validateFieldAddress('house')">Enter your house number</small>
        </div>
        <div class="form-group col">
          <label for="floor">Floor</label>
          <input type="number" class="form-control" id="floor" value="{{user.address.floor}}" formControlName="floor"
                 [(ngModel)]="user.address.floor">
          <small class="alert alert-danger" *ngIf="!validateFieldAddress('floor')">Enter your floor</small>
        </div>
        <div class="form-group col">
          <label for="flat">Flat</label>
          <input type="number" class="form-control" id="flat" value="{{user.address.flat}}" formControlName="flat"
                 [(ngModel)]="user.address.flat">
          <small class="alert alert-danger" *ngIf="!validateFieldAddress('flat')">Enter your flat number</small>
        </div>
      </div>
    </form>
    <div>
      <input id="inputSearch" placeholder="Search for location" [value]="map.inputAddress" type="text"
             class="form-control" #searchAddress
             [formControl]="map.searchControl"
             (input)="map.fillStreetAndHouse($event.target.value); updateStreetHouse();">
      <agm-map [latitude]="map.latitude" [longitude]="map.longitude" [scrollwheel]="true" [zoom]="map.zoom"
               (mapClick)="map.placeMarker($event); updateStreetHouse();"
               (mapReady)="mapReady($event,'your_location','inputSearch')">
        <agm-marker [latitude]="map.latitude" [longitude]="map.longitude" [markerDraggable]="true"
                    (dragEnd)="map.placeMarker($event); updateStreetHouse();"></agm-marker>
      </agm-map>
      <div id="your_location">
        <div class="your_location_btn" (click)="map.setCurrentPosition(); updateStreetHouse();">
          <div class="your_location_img"></div>
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-5 offset-3">
            <button class="btn btn-primary btn-sm btn-block btn-success" type="submit"
                    [disabled]="addressForm.invalid || profileForm.invalid">
              Save
            </button>
          </div>
          <div class="col-1 offset-3">
            <div class="btn btn-danger" (click)="generatePersonalInformationReport()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export in PDF
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </form>
</div>
