<navscroller></navscroller>
<div class="container-fluid">
  <div class="row">
    <main class="col offset pt-3">
      <div *ngIf="monthCalendar" class="page-header">
        <h3 class="text-success">{{monthCalendar[0].day | date: "MMMM" }}</h3>
      </div>
      <div *ngIf="monthCalendar">
        <button [hidden]="nextMonth" class="button btn-primary" routerLink="/manager/calendar/next/month/{{userId}}">
          Next Month
        </button>
        <button [hidden]="!nextMonth" class="button btn-primary" routerLink="/manager/calendar/month/{{userId}}">
          Previous Month
        </button>
        <button class="button btn-warning" routerLink="/manager/viewEmployee/{{userId}}">Back to employee</button>
      </div>
      <table *ngIf="monthCalendar" class="table table-bordered">
        <thead>
        <tr>
          <th>Day</th>
          <th>Day Of Week</th>
          <th>Weekend</th>
          <th>Start</th>
          <th>End</th>
          <th>Worked Out</th>
        </tr>
        <tbody>
        <tr *ngFor="let day of monthCalendar">
          <td>{{day.id}}</td>
          <td>{{day.day | date: 'EEE'}}
          </td>
          <td>
            <button *ngIf="day.wdId == 0" class="btn btn-info disabled">Weekend</button>
            <button *ngIf="day.wdId  && !isDisabledEnd(day.id)"
                    (click)="addWeekend(day.wdId)"
                    class="btn btn-warning">Make weekend
            </button>
          </td>
          <td (click)="day.isClick = disableOther(day.id) && !isDisabledStart(day.id)">
            <div>
              <form>
                <input title="" required
                       #start
                       type="time"
                       min="08:00"
                       max="22:00"
                       value="{{day.startWork | tm}}"
                       [disabled]="isDisabledStart(day.id)"
                       [hidden]="!day.startWork && !day.isClick"
                       (input)="changeStartClicked(start.value, day.id, start.checkValidity())"
                       (click)="day.errorsMs = null;">
                <p style="font-size:small;" class="alert alert-danger" *ngIf="day.errorsMs && day.isClick">
                  {{day.errorsMs[0]}}</p>
                <p style="font-size:small;" class="alert alert-info" *ngIf="((!day.isValidStart) && day.isClick)">(8:00
                  -
                  22:00)</p>
              </form>
            </div>
          </td>
          <td (click)="day.isClick = disableOther(day.id) && !isDisabledEnd(day.id)">
            <div>
              <form>
                <input title="" required #end type="time" value="{{day.endWork | tm}}"
                       [disabled]="isDisabledEnd(day.id)"
                       [hidden]="!day.endWork && !day.isClick"
                       (input)="changeEndClicked(end.value, day.id, end.checkValidity())"
                       min="09:00"
                       max="23:00"
                       (click)="day.errorsMs;">
              </form>
            </div>
            <button [disabled]="!day.isValidEnd || !day.isValidStart"
                    [hidden]="!day.isClick"
                    class="btn btn-success"
                    (click)="save(day.id)">Save
            </button>
            <button *ngIf="day"
                    [hidden]="!day.isClick"
                    class="btn btn-primary"
                    (click)="reset()">Reset
            </button>
            <p style="font-size:small;" class="alert alert-info" *ngIf="((!day.isValidEnd) && day.isClick)">(9:00 -
              23:00)</p>
            <p style="font-size:small;" class="alert alert-danger" *ngIf="check(day.errorsMs) && day.isClick">
              {{day.errorsMs[1]}}</p>
          </td>
          <td>{{day.workedOut ? 'Yes' : 'No'}}</td>
        </tr>
        </tbody>
      </table>
    </main>
  </div>
</div>
