<div *ngIf="user">

  <div>
    <label>First name:
      <input [(ngModel)]="user.firstName" placeholder="First name"/>
    </label>
  </div>


  <div>
    <label>Last name:
      <input [(ngModel)]="user.lastName" placeholder="Last name"/>
    </label>
  </div>


  <div>
    <label>Email:
      <input [(ngModel)]="user.email" placeholder="email"/>
    </label>
  </div>


  <div>
    <label>Phone number:
      <input [(ngModel)]="user.phoneNumber" placeholder="Phone number"/>
    </label>
  </div>

  <p>roles: {{ user | json}}</p>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
