<navbar>Navbar Loading..</navbar>
<div id="landing">
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p id="h1">NC Advanced Delivery</p>
					<p id="h2">Delivery Service</p>
				</div>
			</div>
		</div>
	</div>
	<div  id="descElement" class="container ">
		<div class="row ">
			<br><br>
			<div class="col-4">
				<i class="fa fa-rocket"></i>
				<h4>Quick</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
			</div>
			<div class="col-4">
				<i class="fa fa-thumbs-o-up"></i>
				<h4>Reliable</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
			</div>
			<div class="col-4">
				<i class="fa fa-smile-o"></i>
				<h4>Easy</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
			</div>
		</div>
		<br><br>
	</div>
</div>
