#landing {
	background:linear-gradient(#278eb1,#7c7bcb);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
	text-align: center;
}

.container {
  height: 500px; 
}

#descElement{
	margin-top: 50px;
	color:white;
	height: 250px; 
}

.row {
  height: 100px;
}

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s; 
    -webkit-transition: all .3s; 
    -ms-transition: all .3s; 
    transition: all .3s;
}

#headerwrap{
	background: url(../../shared/img/back.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 10px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	background-size: 100%;
	
	-webkit-background-size: cover;
	background-size: cover;
}

p[id = h1]{
	font-weight: bold;
	margin-top: 20px;
	text-align:  left;
	color: White;
	font-size: 40px;
	font-weight: 400;

	-webkit-text-stroke: 1px black;
}

p[id = h2]{
	font-weight: bold;
	color: #278eb1;
	text-align:  left;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;

	-webkit-text-stroke: 1px black;
}
