<navscroller></navscroller>

<div class="container-fluid">
  <div class="row">

    <main class="col offset pt-3">
      <div class="row justify-content-between">
        <div class="col-10"><h2>Orders </h2></div>
        <div align="right" class="col-2  justify-content-right">
          <!--<button type="button" class="btn btn-success" routerLink="/admin/cudOffice">Create</button>-->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th (click)="sortedField='id'; asc = !asc;">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='senderAddress'; asc = !asc;">From
              <span *ngIf="sortedField=='senderAddress'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='receiverAddress'; asc = !asc;">To
              <span *ngIf="sortedField=='receiverAddress'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='creationTime'; asc = !asc;">Time
              <span *ngIf="sortedField=='creationTime'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='orderStatus'; asc = !asc;">Status
              <span *ngIf="sortedField=='orderStatus'">
                <span *ngIf="asc" class="fa fa-caret-down"></span>
                <span *ngIf="!asc" class="fa fa-caret-up"></span>
              </span>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let order of orders | orderHistoryOrderBy:sortedField:asc">
            <td>{{order.id}}</td>
            <td>{{order.senderAddress.street}}</td>
            <td>{{order.receiverAddress.street}}</td>
            <td>{{order.creationTime}}</td>
            <td>{{order.orderStatus}}</td>
          </tr>

          </tbody>
        </table>
      </div>

      <!--<p>{{user.id}}</p>-->
    </main>
  </div>
</div>
