<navscroller></navscroller>

<div class="container-fluid">
  <div class="row">

    <main class="col offset pt-3">
      <div class="row justify-content-between">
        <div class="col-10"><h2>Orders </h2></div>
        <div align="right" class="col-2  justify-content-right">
          <!--<button type="button" class="btn btn-success" routerLink="/admin/cudOffice">Create</button>-->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Time</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let order of orders">
            <td>{{order.id}}</td>
            <td>{{order.addressFrom.street}}</td>
            <td>{{order.addressTo.street}}</td>
            <td>{{order.orderStatus}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
