<navscroller></navscroller>
<div class="container" id="main">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Order</h4>
      <form class="needs-validation" [formGroup]="createOrderForm" (ngSubmit)="createOrder(createOrderForm.value)"
            role="form" action="" method="post" id="createOrderForm" novalidate>

        <form [formGroup]="senderAddress" class="mb-3">
          <label>From</label><br>
          <div class="row">
            <div class="col-7">
              <label for="senderStreet">Street</label>
              <input formControlName="street" type="text" class="form-control" id="senderStreet" placeholder="Street*"
                     ngModel={{street}}
                       required>
              <small class="alert alert-danger" *ngIf="!validateFieldSenderAddress('street')">Enter the street
                name
              </small>
            </div>
            <div class="form-group col">
              <label for="senderStreet">House</label>
              <input formControlName="house" type="text" class="form-control" id="senderHouse" placeholder="House*"
                     ngModel={{house}} required>
              <small class="alert alert-danger" *ngIf="!validateFieldSenderAddress('house')">Enter the house
                number/section
              </small>
            </div>
            <div class="form-group col">
              <label for="senderStreet">Floor</label>
              <input formControlName="floor" type="number" min="0" class="form-control" id="senderFfloor"
                     placeholder="Floor*"
                     [(ngModel)]="order.senderAddress.floor" required>
              <small class="alert alert-danger" *ngIf="!validateFieldSenderAddress('floor')">Enter the floor number
              </small>
            </div>
            <div class="form-group col">
              <label for="senderStreet">Flat</label>
              <input formControlName="flat" type="number" min="0" class="form-control" id="senderFlat"
                     placeholder="Flat*"
                     [(ngModel)]="order.senderAddress.flat" required>
              <small class="alert alert-danger" *ngIf="!validateFieldSenderAddress('flat')">Enter the flat number
              </small>
            </div>
          </div>
          <div id="map">
            <input id="inputSearch" placeholder="Search for location" [value]="inputAddress" type="text"
                   class="form-control" #search
                   [formControl]="searchControl" (input)="fillStreetAndHouse($event.target.value)">
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"
                     (mapClick)="placeMarker($event)" (mapReady)="mapReady($event)">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                          (dragEnd)="placeMarker($event)"></agm-marker>
            </agm-map>
            <div id="your_location" (click)="setCurrentPosition()">
              <div id="your_location_btn">
                <div id="your_location_img"></div>
              </div>
            </div>
          </div>
          <div class="invalid-feedback">
            Please enter address correctly.
          </div>
        </form>

        <form [formGroup]="receiverAddress" class="mb-3">
          <label>To</label><br>
          <div class="row">
            <div class="col-7">
              <label for="receiverStreet">Street</label>
              <input formControlName="street" type="text" class="form-control" id="receiverStreet" placeholder="Street*"
                     ngModel={{toStreet}}
                     required>
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('street')">Enter the street
                name
              </small>
            </div>
            <div class="form-group col">
              <label for="receiverStreet">House</label>
              <input formControlName="house" type="text" class="form-control" id="receiverHouse" placeholder="House*"
                     ngModel={{toHouse}} required>
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('house')">Enter the house
                number/section
              </small>
            </div>
            <div class="form-group col">
              <label for="receiverFloor">Floor</label>
              <input formControlName="floor" type="number" min="0" class="form-control" id="receiverFloor"
                     placeholder="Floor*"
                     [(ngModel)]="order.receiverAddress.floor">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('floor')">Enter the floor number
              </small>
            </div>
            <div class="form-group col">
              <label for="receiverFlat">Flat</label>
              <input formControlName="flat" type="number" min="0" class="form-control" id="receiverFlat"
                     placeholder="Flat*"
                     [(ngModel)]="order.receiverAddress.flat">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('flat')">Enter the flat number
              </small>
            </div>
          </div>
          <div>
            <agm-map [latitude]="toLatitude" [longitude]="toLongitude" [scrollwheel]="true" [zoom]="toZoom"
                     (mapClick)="placeMarkerTo($event)">
              <agm-marker [latitude]="toLatitude" [longitude]="toLongitude" [markerDraggable]="true"
                          (dragEnd)="placeMarkerTo($event)"></agm-marker>
            </agm-map>
          </div>
          <div class="invalid-feedback">
            Please enter address correctly.
          </div>
        </form>


        <h4>Enter the time when you can receive the order:</h4>
        <p>
          <label >from : </label>
          <input formControlName="receiverAvailabilityTimeFrom" type="datetime-local" name="date" [(ngModel)]="order.receiverAvailabilityTimeFrom"/>
        </p>
        <!--type="datetime-local"-->
        <p>
          <label >to: </label>
          <input formControlName="receiverAvailabilityTimeTo" type="datetime-local" name="date" [(ngModel)]="order.receiverAvailabilityTimeTo"/>
        </p>

        <h1>{{order | json}}</h1>

        <div class="mb-3">
          <label for="description">Description <span class="text-muted"> (Optional)</span></label>
          <textarea formControlName="description" class="form-control" rows="3" id="description"
                    placeholder="Any Additional information" [(ngModel)]="order.description"></textarea>

          <div>
            <label for="office">
              Office
            </label>

            <select formControlName="office" [(ngModel)]="order.office" id="office"
                    class="form-control" required>
                            <option  *ngFor="let office of offices" [ngValue]="office">
                {{office.name}}
              </option>
            </select>
            </div>


        </div>


      </form>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <button class="btn btn-primary btn-sm btn-block btn-success"  form="createOrderForm" type="submit" [disabled]="!createOrderForm.valid">
          Confirm
        </button>
      </div>
      <div class="col-4">
        <button class="btn btn-primary btn-sm btn-block btn-success"  type="button"  (click)="createDraft()">
          Save to draft
        </button>
      </div>

      <div class="col-4">
        <button class="btn btn-primary btn-sm btn-block btn-danger" routerLink="/orderHistory/{{currentUser.id}}" type="button">
          Cancel
        </button>
      </div>
    </div>
  </div>
</footer>
