<navscroller></navscroller>
<div class="container" id="main">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Order</h4>
      <form class="needs-validation" [formGroup]="orderForm"
            role="form" action="" method="post" id="orderForm" novalidate>
        <div>
          <label for="office">
            Office
          </label>
          <select id="office" [formControl]="orderForm.get('office')" [(ngModel)]="order.office"
                  class="form-control">
            <option [ngValue]="null"></option>
            <option *ngFor="let office of offices" [ngValue]="office" [selected]="office.id == officeId">
              {{office.name}}
            </option>
          </select>
          <small class="alert alert-danger" *ngIf="orderForm.get('office').hasError('required')">
            Choose office
          </small>
        </div>
        <form [formGroup]="receiverAddress" class="mb-3">
          <label>To</label><br>
          <div class="row">
            <div class="col-7">
              <label for="receiverStreet">Street</label>
              <input formControlName="street" type="text" class="form-control" id="receiverStreet"
                     [(ngModel)]="order.receiverAddress.street" value="{{order.receiverAddress.street}}"
                     required
                     #searchAddressTo
                     [formControl]="mapTo.searchControl"
                     (change)="mapTo.changeStreet($event.target.value);  updateStreetTo();">
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('street')">Enter the street
                name
              </small>
            </div>
            <div class="form-group col">
              <label for="receiverHouse">House</label>
              <input type="text" class="form-control" id="receiverHouse" value="{{order.receiverAddress.house}}"
                     formControlName="house"
                     [(ngModel)]="order.receiverAddress.house" required
                     (change)="mapTo.changeHouse($event.target.value); updateHouseTo();">

              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('house')">Enter the house
                number/section
              </small>
            </div>
            <div class="form-group col">
              <label for="receiverFloor">Floor</label>
              <input formControlName="floor" type="number" class="form-control" id="receiverFloor"
              >
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('floor')">Enter the floor number
              </small>
            </div>
            <div class="form-group col">
              <label for="receiverFlat">Flat</label>
              <input formControlName="flat" type="number" class="form-control" id="receiverFlat"
              >
              <small class="alert alert-danger" *ngIf="!validateFieldReceiverAddress('flat')">Enter the flat number
              </small>
            </div>
          </div>
          <div>
            <agm-map [latitude]="mapTo.latitude" [longitude]="mapTo.longitude" [scrollwheel]="true" [zoom]="mapTo.zoom"
                     (mapClick)="mapTo.placeMarker($event); updateStreetHouseTo();"
                     (mapReady)="mapToReady($event,'yourLocationTo')">
              <agm-marker [latitude]="mapTo.latitude" [longitude]="mapTo.longitude" [markerDraggable]="true"
                          (dragEnd)="mapTo.placeMarker($event); updateStreetHouseTo();"></agm-marker>
            </agm-map>
            <div id="yourLocationTo" (click)="mapTo.setCurrentPosition(); updateStreetHouseTo;">
              <div class="your_location_btn">
                <div class="your_location_img"></div>
              </div>
            </div>
          </div>
          <div class="invalid-feedback">
            Please enter address correctly.
          </div>
        </form>
        <label for="clientAvailability">Enter the time when receiver can receive the order:</label>
        <div class="row" id="clientAvailability">
          <div class="col">
            <label for="receiverAvailabilityDate">Date : </label>

            <input class="dateTimeInput" formControlName="receiverAvailabilityDate" id="receiverAvailabilityDate"
                   type="date"
                   value="{{order.receiverAvailabilityDate}}"
                   [(ngModel)]="order.receiverAvailabilityDate">

            <small class="alert-danger alert" *ngIf="orderForm.hasError('pastDate')">
              {{orderForm.getError('pastDate')}}
            </small>
          </div>
          <div class="col">
            <label for="receiverAvailabilityFrom">Time From : </label>
            <input class="dateTimeInput" formControlName="receiverAvailabilityFrom" id="receiverAvailabilityFrom"
                   type="time"
                   value="{{order.receiverAvailabilityFrom}}"
                   [(ngModel)]="order.receiverAvailabilityFrom">
            <small class="alert-danger alert" *ngIf="orderForm.hasError('wrongTimeFrom')">
              {{orderForm.getError('wrongTimeFrom')}}
            </small>
          </div>
          <div class="col"><label for="receiverAvailabilityTo">Time To : </label>
            <input class="dateTimeInput" formControlName="receiverAvailabilityTo" id="receiverAvailabilityTo"
                   type="time"
                   value="{{order.receiverAvailabilityTo}}" [(ngModel)]="order.receiverAvailabilityTo">
            <small class="alert-danger alert" *ngIf="orderForm.hasError('wrongRange')">
              {{orderForm.getError('wrongRange')}}
            </small>
          </div>
        </div>
        <div class="mb-3 mt-3">
          <label for="description">Description <span class="text-muted"> (Optional)</span></label>
          <textarea formControlName="description" class="form-control" rows="3" id="description"
                    [(ngModel)]="order.description"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col" [hidden]="order.orderStatus != 'DRAFT'">
        <button class="btn btn-primary btn-sm btn-block btn-success" form="orderForm" type="submit"
                [disabled]="orderForm.invalid">
          Create
        </button>
      </div>

      <div class="col">
        <div class="col" [hidden]=" order.orderStatus != 'OPEN'">
          <button class="btn btn-primary btn-sm btn-block btn-success" type="button" (click)="saveOpenOrder()" [disabled]="orderForm.invalid">
            Save
          </button>
        </div>
        <div class="col" [hidden]="order.orderStatus != 'DRAFT'">
          <button class="btn btn-primary btn-sm btn-block btn-success" type="button" (click)="saveDraft()" [disabled]="orderForm.get('office').hasError('invalid') || orderForm.get('receiverAddress').invalid">
            Save
          </button>
        </div>
      </div>
      <div class ="col">
        <div class="col" [hidden]="order.orderStatus != 'DRAFT'">
          <button  type="button"  class="btn btn-primary btn-sm btn-block btn-danger"  (click)="deleteDraft()">
            Delete
          </button>
        </div>
        <div class="col"  [hidden]="order.orderStatus != 'OPEN'">
          <button class="btn btn-primary btn-sm btn-block btn-danger" (click)="cancelOrder()"
                  type="button">
            Cancel
          </button>
        </div>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-sm btn-block btn-danger" (click)="reRout(currentUser.id)"
                type="button">
          Back
        </button>
      </div>
    </div>
  </div>
</footer>
