<navscroller></navscroller>
<div *ngIf="office" class="container" id="main">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Office</h4>
      <form class="needs-validation" [formGroup]="cudOfficeForm" role="form" action="" method="post" novalidate
      id="cudOfficeForm" >
        <div class="formGroup">
          <div class="row">
            <div class="col-12 mb-3">
              <label for="name">Name</label>
              <input formControlName="name" type="text" class="form-control" id="name"
                      value="{{office.name}}"
                     [(ngModel)]="office.name" required>
              <small class="alert alert-danger" *ngIf="!validateField('name')">Enter the name of office</small>
            </div>
          </div>
        </div>
        <form [formGroup]="addressOfficeRegisterByAdmin" class="mb-3">
          <label>Address</label><br>
          <div class="row">
            <div class="col-7">
              <label for="street">Street</label>
              <input formControlName="street" type="text" class="form-control" id="street"
                     value="{{office.address.street}}" [(ngModel)]="office.address.street" required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('street')">Enter the street name</small>
            </div>
            <div class="form-group col">
              <label for="house">House</label>
              <input formControlName="house" type="text" class="form-control" id="house"
                     value="{{office.address.house}}" [(ngModel)]="office.address.house" required>
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('house')">Enter the house number/section
              </small>
            </div>
            <div class="form-group col">
              <label for="floor">Floor</label>
              <input formControlName="floor" type="number" min="0" class="form-control" id="floor"
                     value="{{office.address.floor}}" [(ngModel)]="office.address.floor" >
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('floor')">Enter the floor number</small>
            </div>
            <div class="form-group col">
              <label for="flat">Flat</label>
              <input formControlName="flat" type="number" min="0" class="form-control" id="flat"
                     value="{{office.address.flat}}" [(ngModel)]="office.address.flat" >
              <small class="alert alert-danger" *ngIf="!validateFieldAddress('flat')">Enter the flat number</small>
            </div>
          </div>
        </form>
        <div id="map">
          <input id="inputSearch" placeholder="Search for location" [value]="inputAddress" type="text"
                 class="form-control" #search
                 [formControl]="searchControl" (input)="fillStreetAndHouse($event.target.value)">
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"
                   (mapClick)="placeMarker($event)" (mapReady)="mapReady($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="placeMarker($event)"></agm-marker>
          </agm-map>
          <div id="your_location" (click)="setCurrentPosition()">
            <div id="your_location_btn">
              <div id="your_location_img"></div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description">Description<span class="text-muted"> (Optional)</span></label>
          <textarea formControlName="description" class="form-control" rows="3" id="description"
                    placeholder="Any Additional information" value="{{office.description}}"
                    [(ngModel)]="office.description"></textarea>
        </div>

      </form>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col" >
        <button class="btn btn-primary btn-sm btn-block btn-success" form="cudOfficeForm" (click)="save()"
                type="submit" [disabled]="!cudOfficeForm.valid">
          Save
        </button>
      </div>

      <div class="col">
        <button class="btn btn-primary btn-sm btn-block btn-danger" routerLink="/admin/adminOffice"  type="button">Cancel
        </button>
      </div>
    </div>
  </div>
</footer>
