#main{
  padding-bottom: 35px;
}
agm-map {
  height: 300px;
}

.your_location_btn {
  background-color: #fff;
  border: none;
  outline: none;
  min-width: 28px;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
}

.your_location_img {
  position: relative;
  top: 5px;
  margin: 5px;
  width: 18px;
  height: 18px;
  background-size: 180px 18px;
  background: url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png) no-repeat 0 0;
}

.hide {
  display: none;
}


.alert-danger, .alert{
  display:inline-block;
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 0;
  padding-bottom: 0;
}


/*input:required {*/
  /*box-shadow: 1px 1px 1px rgba(200, 0, 0, 0.85);*/
/*}*/

/*!***/
 /** style input elements that have a required*/
 /** attribute and a focus state*/
 /**!*/
/*input:required:focus {*/
  /*border: 1px solid red;*/
  /*outline: none;*/
/*}*/

/*!***/
 /** style input elements that have a required*/
 /** attribute and a hover state*/
 /**!*/
/*input:required:hover {*/
  /*opacity: 1;*/
/*}*/
