<navscroller></navscroller>
<div>
  <toaster-container [toasterconfig]="config"></toaster-container>
</div>
<div class="container-fluid">
  <div class="row justify-content-between mt-3">
    <div class="col-6 offset-4 h2">
      Employees
    </div>
    <div class="col-2 ">
      <button type="button" class="btn btn-success align-self-end" routerLink="/admin/cudEmp">Create</button>
    </div>

  </div>
  <div class="row justify-content-left mt-3">
    <div class="col-8">

    </div>
    <!--<div class="col-2">-->
      <!--Last Name:-->
    <!--</div>-->
    <div class="offset-2 col-2">
      <input type="text" #selected (input)="filter(selected.value)" placeholder="Last Name">
    </div>
  </div>
  <div class="row">

    <main class="col offset pt-2">


      <div [ngStyle]="{'display' : showRolesFilter ? 'inline' : 'none' }">
        <label for="admin">ADMIN</label>
        <input id="admin" type="checkbox" #admin
               (change)="roles = (admin.checked ? addRoleToFilter('ADMIN') : deleteRoleFromFilter('ADMIN'))">
        <label for="manager">MANAGER</label>
        <input id="manager" type="checkbox" #manager
               (change)="roles = (manager.checked ? addRoleToFilter('MANAGER') : deleteRoleFromFilter('MANAGER'))">
        <label for="call_center_agent">CALL_CENTER_AGENT</label>
        <input id="call_center_agent" type="checkbox" #ccAgent
               (change)="roles = (ccAgent.checked ? addRoleToFilter('CALL_CENTER_AGENT') : deleteRoleFromFilter('CALL_CENTER_AGENT'))">
        <label for="courier">COURIER</label>
        <input id="courier" type="checkbox" #courier
               (change)="roles = (courier.checked ? addRoleToFilter('COURIER') : deleteRoleFromFilter('COURIER'))">
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
          <tr>
            <th (click)="sortedField='id'; asc = !asc; getEmployeesSortedBy();">#
              <span *ngIf="sortedField=='id'">
                <span *ngIf="!asc" class="fa fa-caret-down"></span>
                <span *ngIf="asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='firstName'; asc = !asc; getEmployeesSortedBy();">FirstName
              <span *ngIf="sortedField=='firstName'">
                <span *ngIf="!asc" class="fa fa-caret-down"></span>
                <span *ngIf="asc" class="fa fa-caret-up"></span>
              </span>
            </th>
            <th (click)="sortedField='lastName'; asc = !asc; getEmployeesSortedBy();">LastName
              <span *ngIf="sortedField=='lastName'">
                <span *ngIf="!asc" class="fa fa-caret-down"></span>
                <span *ngIf="asc" class="fa fa-caret-up"></span>
              </span>
            </th>

            <th>
              <div (click)="sortedField='roles'; asc = !asc; getEmployeesSortedBy();" style="width:94%; display: inline-block;">Position
                <span *ngIf="sortedField=='roles'">
                  <span *ngIf="!asc" class="fa fa-caret-down"></span>
                  <span *ngIf="asc" class="fa fa-caret-up"></span>
                </span>
                <div class="fa fa-cog pull-right" style="display: inline-block; width: 5%;" (click)="showRolesFilter= !showRolesFilter;">
                </div>
              </div>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employees
          |rolesFilterBy:roles
          | paginate: {itemsPerPage: perPage, currentPage : page}"
              routerLink="/admin/editEmployee/{{employee.id}}">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.roles.toString().substr(0, 25)+'...'}}</td>
            <td align="right">
              <button type="button" class="btn btn-danger" (click)="removeEmployee(employee)" [disabled]="employee.id === adminId">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </main>
  </div>
</div>
